.meme {
  background-color: #FFFC97;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  font-family: Helvetica;
  color: black;
  position: static;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  max-width: 75vw;
}
.meme_all {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
.img_meme {
  display: block;
  transform: scaleY(0);
  height: 0; /* уменьшает неактивное поле*/
  transform-origin: center;
  margin: 1em auto;
  transition: 1s;
  max-width: 80%;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
.input_meme:checked ~ label .icon_cancel {
  visibility: visible;
}
.icon, .icon_cancel {
  opacity: 0;
}
.input_meme {
  appearance: none;
}

.meme:hover .label_meme {
  color: blueviolet;
}
body {
    background-color: #FFFC97;
}
.input_meme:checked ~ label .img_meme {
  transform: scaleY(1);
  height: auto;
}
.meme:hover label .img_meme {
  transform: scaleY(1);
  height: auto;
}
.input_meme:checked ~ label .icon {
    visibility: hidden;
    width: 0;
}
.meme:hover label .icon {
  visibility: hidden;
  width: 0;
}
.meme:hover label .icon_cancel {
  visibility: visible;
}
hr {
  border: 2px solid #86E59E;
}
.icon_cancel {
  visibility: hidden;
}


@media (min-width: 820px) {
  .meme_all {
    width: 40%;
  }
  .img_meme {
    width: 50%;
  }
  .h1_text {
    font-size: 3em;
  }
  .label_meme {
    font-size: 1.5em;
  }
}
@media (min-width: 1920px) {
  .meme_all {
    width: 60%;
  }
  .img_meme {
    width: 40%;
  }
  .h1_text {
    font-size: 4em;
  }
  .label_meme {
    font-size: 2em;
  }
  .img_meme, .input_meme, .label_meme {
    cursor: pointer;
  }
}
.icon {
  visibility: hidden;

}
.meme_all:hover .icon {
  visibility: visible;
}
.meme_all:hover .icon_cancel {
  opacity: 1;
  transition: 0.2s;
}
.meme_all:hover .icon {
  opacity: 1;
  transition: 0.2s;
}
#flex {
  display: flex;
  justify-content: space-between;
}