.meme {
  background-color: #FFFC97;
  height: auto;
  margin-right: 140px;
  margin-left: 140px;
  font-family: Helvetica;
  color: black;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
.input_meme {
  appearance: none;
}
.meme:hover .label_meme {
  color: blueviolet;
}
.img_meme {
  display: block;
  transform: scaleY(0);
  height: 0; /* уменьшает неактивное поле*/
  transform-origin: center;
  margin: 1em auto;
  transition: 1s;
}
body {
    background-color: #FFFC97;
}
.input_meme:checked ~ label .img_meme {
  transform: scaleY(1);
  height: auto;
}
.meme:hover label .img_meme {
  transform: scaleY(1);
  height: auto;
}
.input_meme:checked ~ label .icon {
    visibility: hidden;
    width: 0;
}
hr {
  border: 2px solid #86E59E;
}
.icon_cancel {
  visibility: hidden;
}
.input_meme:checked ~ label .icon_cancel {
  visibility: visible;
}

